*{
margin: 0;
padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    background: url(../assets/img/background.jpg!d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/*Animations*/
@keyframes opac {
	from {
		opacity:0;
	} 
	to {
		opacity:1;
	}
}
@keyframes animatebottom { 
	from { 
		bottom:-300px;
		opacity:0
	} 
	to { 
		bottom:0;
		opacity:1
	}
}
@keyframes animatezoom {
	from {
		transform:scale(0);
	} 
	to {
	    transform:scale(1);
	}
}
@keyframes animatetop {
	from {
		top:-300px;
		opacity:0;
	} 
	to {
		top:0;
		opacity:1;
	}
}

.front-page {
	display: none;
	position: relative;
    animation:animatebottom 1s;
}

h1 {
	color: white;
	display: block;
	padding-top: 30px;
	opacity: 0.7;
	transition: all 0.2s;
	cursor: pointer;
	text-align: center;
}
h1:hover {
	opacity: 1;
}
h1 span {
	font-weight: 300;
}

.front-page .row {
	margin: 120px auto;
	background: #00A5F2;
	box-shadow: 0px 1px 5px #777;
	box-sizing: border-box;
	width: 660px;
	padding: 15px 0px;
	display: none;
	animation:animatezoom 1s;
}

.front-page .row .player-name-close-btn {
	float: right;
	background: transparent;
	border: none;
	outline: none;
	color: red;
	font-size: 32px;
	cursor: pointer;
	margin-right: 20px;
	opacity: 0.7;
}
.front-page .row .player-name-close-btn:hover {
	opacity: 1;
}

.front-page .row:after {
    content: "";	
    display: table;
    clear: both;
}

.front-page .row .col{
    float: left;
    width: 50%;
    margin: auto;
}

.front-page .row .col.adjust {
	margin-top: 35px;
}

.front-page .row .col label {
	margin: 20px 40px;
	color: #fff;
	font-weight: 700;
}

.front-page .row .col input {
	margin: 20px 40px;
	width: 250px;
	height: 30px;
	border: none;
	outline: none;
	font-size: 15px;
	color: #fff;
	background: transparent;
	font-weight: 600px;
}
.front-page .row .col input:focus {
	border-bottom: 2px solid #fff;
}
/*Placeholder Animation*/
::-webkit-input-placeholder { /* Edge */
  color: #fff;
  font-size: 13px;
  text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  font-size: 13px;
  text-align: center;
}
::placeholder {
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.front-page p {
	color: #fff;
	font: 12px;
	animation:fading 1s;
	text-align: center;
	margin: 10px 0px;
}

.front-page .play-btn,
.front-page .row .player-name-save-btn,
.front-page p .player-name-btn {
	border: none;
	background: transparent;
	padding: 15px 50px;
	font-size: 18px;
	font-weight: 1000;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	opacity: 0.7;
	display: block;
	position: relative;
	margin: auto;
	margin-top: 10px;
	outline: none;
	animation:fading 1s;
}
.front-page .play-btn {
	margin-top: 300px;
}
.front-page .play-btn:hover,
.front-page .row .player-name-save-btn:hover,
.front-page p .player-name-btn:hover {
	opacity: 1;
	color: #00A5F2;
	background: #fff;
}

.game-page {
	padding: 20px 40px;
	top: 15%;
	width: 1100px;
	margin: auto;
	position: relative;
	background: transparent;
	box-shadow: 0px 1px 5px #777;
	box-sizing: border-box;
	display: none;
	animation:opac 2s;
}
.game-page .container {
	display: flex;
	width: 1000px;
	margin: auto;
	position: relative;
}
.game-page .container .panel-wrapper {
	margin: auto;
	width: 220px;
	box-shadow: 0px 1px 5px #777;
}

.game-page .container .panel-wrapper .panel-head {
	background-color: #00A5F2;
	color: #fff;
	padding: 10px 10px;
	border: 1px solid #00A5F2;
	text-align: center;
}
.game-page .container .panel-wrapper .panel-body {
	padding: 20px 10px;
	font-size: 80%;
	background: #fff;
	text-align: center;
}

.game-page .container .panel-wrapper .panel-body .player-btn {
	border: none;
	font-size: 15px;
	outline: none;
	padding: 10px 30px;
	background: #fff;
	color: #00A5F2;
	cursor: pointer;
	border-radius: 8px;
	margin: auto;
}
.game-page .container .panel-wrapper .panel-body .player-btn:hover {
	background: #00A5F2;
	color: #fff;
}

.game-page .play-again-btn {
	border: none;
	font-size: 15px;
	outline: none;
	padding: 10px 30px;
	background: transparent;
	color: #fff;
	cursor: pointer;
	border-radius: 8px;
	margin: 15px auto;
	display: none;
}
.game-page .play-again-btn:hover {
	background: #fff;
	color: #00A5F2;
}

.game-page .current-result-page {
	position:relative;
	animation:animatetop 1s;
}

.game-page .current-result-page h2 {
	text-align: center;
	color: #fff;
	margin: 40px 0px 0px 0px;
}

.game-page .current-result-page .details-table {
	border-collapse: collapse;
	margin: 20px auto 0px auto;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.game-page .current-result-page .details-table tr:nth-child(odd) {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.game-page .current-result-page .details-table th {
	padding: 15px;
	text-align: center;
	font-size: 18px;
	background-color: #00a591;
	color: #fff;
	font-weight: 400;
}

.game-page .current-result-page .details-table td {
	font-size: 16px;
	padding: 15px;
	background: #fff;
}

.game-page .current-result-page .details-table input {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 600px;
	background: none;
	border: none;
	color: #00A5F2;
	width: 100%;
	text-align: center;
}

.result-page {
	padding: 20px 40px;
	margin: auto;
	width: 1100px;
    background: transparent;
	box-shadow: 0px 1px 5px #777;
    box-sizing: border-box;
    display: none;
}